* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    align-content: center;
    /* 中央寄せ */
    font-family: "Hiragino Kaku Gothic ProN";
}

header {
    display: flex;
}

.logo{
    width: 50%;
}

.menu {
    display: flex;
    width: 50%;
}

img.mainvisual {
    width: 1280px;
    height: 600px;
}

.title_about{
    text-decoration:underline;
}

img.maskGroup{
    width: 100px;
    height: 100px;
}

.bicycle{
    display: flex;
}

img.bicycle1{
    width: 274.4px;
    height: 182px;
}

img.bicycle2{
    width: 274.4px;
    height: 182px;
}

img.bicycle3{
    width: 274.4px;
    height: 182px;
}

footer {
    font-size: 8px;
}