* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    align-content: center;
    /* 中央寄せ */
    font-family: "Hiragino Kaku Gothic ProN";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.wrapper {
    margin: 0 4%;
}

.logo_content {
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    margin: 10px 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin-left: 30px;
    cursor: pointer;

}

img.mainvisual {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

h2 {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}

h3 {
    display: block;
    margin-bottom: 10px;
}

section {
    margin-top: 80px;
}

.about_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.about_title {
    text-align: start;
}

.about_text {
    display: block;
    width: 398px;
    height: 66px;
    overflow-wrap: normal;
    font-size: 14.4px;
}

img.maskGroup {
    width: 100px;
    height: 100px;
    display: block;
    margin-right: 30px;
}

.bicycle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bicycle_intr {
    margin-left: 17.2px;
}

img.bicycle {
    width: 100%;
    height: 100%;
    max-width: 274.4px;
    max-height: 182px;
}

footer {
    font-size: 8px;
    margin-top: 110px;
}



@media screen and (max-width: 600px) {
    /*ここにスマホ用のCSSを記述する*/

    .about_content {
        display: flex;
        flex-direction: column;
    }

    .bicycle {
        display: flex;
        flex-direction: column;
    }

}